Django
Pillow
django-cleanup
django-cors-headers
django-extensions
django-resized
djangorestframework
djangorestframework-camel-case
djoser
drf-base64
drf-flex-fields
gunicorn
psycopg2-binary
python-decouple
wagtail>=2.12,<2.13
wagtail-generic-chooser
wagtail-modeltranslation
wagtail-react-streamfield
wagtailmedia
wagtailvideos
